@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.golos-font {
    font-family: "Golos Text", serif;
}

/* ---------gap----------- */
.gap-32 {
    gap: 32px;
}

/* ---------------mx-width------------ */
.mx-w-1440 {
    max-width: 1440px;
}

.mx-w-86 {
    max-width: 86px;
}

.mx-238 {
    max-width: 238px;
}

/* -------------------padding-and-margin---------- */
.mt-44 {
    margin-top: 44px;
}

.mt-40 {
    margin-top: 40px;
}

.pt-44 {
    padding-top: 44px;
}

.mt-74 {
    margin-top: 74px;
}

.mb-130 {
    margin-bottom: 130px;
}

.pr-12 {
    padding-right: 12px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.pl-12 {
    padding-left: 12px;
}

.mt-32 {
    margin-top: 32px;
}

.pb-40 {
    padding-bottom: 40px;
}

.mt-148 {
    margin-top: 148px;
}

.mb-142 {
    padding-bottom: 142px;
}

.ml-12 {
    margin-left: 12px;
}

.mr-12 {
    margin-right: 12px;
}

.mt-164 {
    margin-top: 164px;
}

.pt-17 {
    padding-top: 17px;
}

.pt-88 {
    padding-top: 88px !important;
}

.mt-20 {
    margin-top: 20px;
}

.mt-198 {
    margin-top: 198px;
}

.mt-166 {
    margin-top: 166px;
}

/* ---------nav----------- */
.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--color-blue);
    z-index: 10;
    transition: all 300ms linear;
    border-radius: 10px;
    transform-origin: left;
    display: flex;
}

.z-5 {
    z-index: 5;

}

.mx-w-1440 {
    max-width: 1440px !important;
}

.px-32-15 {
    padding-left: 32px;
    padding-right: 15px;
}

.mx-w-1240 {
    max-width: 1240px !important;
}

.section-1-stone {
    animation: shake 3s ease-in-out infinite;
}

.bg-img {
    background-image: url(../image/png/section-1-bg-img.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.curser-pointer {
    cursor: pointer;
}

.nav-btn {
    border-radius: 50px;
    border-width: 1px;
    padding: 12px 24px 12px 24px;
    background: #FFFFFF1A;
    border: 1px solid #1D252D40;
    transition: all 200ms linear;
}

.nav-btn:hover {
    background-color: white;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.gap-24 {
    gap: 24px;
}

.ul-box {
    border-radius: 24px;
    padding: 12px 0 12px 0;
    background: var(--light-grey);
    border: 1px solid #FFFFFF4D;
}

.nav-tabs-btn {
    border-radius: 24px;
    padding: 12px;
    transition: all 200ms linear;
    color: var(--color-black);
    font-weight: 400 !important;
}

.nav-tabs-btn:hover {
    background: #FFFFFFCC;
    font-weight: 500 !important;
}

.mx-w-238 {
    max-width: 238px;
}

/* -----header--- */
.header-stone-img {
    animation: shake 3s ease-in-out infinite;
}

@keyframes shake {
    50% {
        transform: translateY(-30px);
    }
}

.header-button-top {
    background: none;
    border-radius: 34px;
    padding: 8px 14px 8px 14px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #FFFFFF26;
}

.header-button-top:hover {
    background-color: #ebe1e126;
}

.header-button-bottom {
    border-radius: 50px;
    padding: 16px 24px 16px 24px;
    border: none;
    background-color: var(--black-dark);
}

.header-button-bottom:hover {
    background-color: #282f36;
}

.bg-image-header {
    background-image: url(../image/png/header-bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.header-Elevate-text {
    border: 1px solid var(--white-opicity-30);
    padding: 8px 16px 8px 16px;
    max-width: 118px;
    max-height: 88px;
    border-radius: 6px;
}

.heading {
    background: linear-gradient(203.15deg, #FFFFFF 30.4%, #314FD7 115.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* header-bootom */
.mx-w-256 {
    max-width: 200px;
}

.border-right-2 {
    border-right: 1px solid #1d252d1a;
}

.w-256 {
    width: 256px;
}

.gap-30 {
    gap: 30px;
}

.header-bottom-line {
    max-width: 1437.0000000000055px;
    border-width: 1px;
    border: 1px solid #E7E6EB;
}

/* slider-section */

.bg-img {
    background-image: url(../image/png/fotter-layer-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.five-steps-btn {
    border-radius: 34px;
    padding: 8px 14px 8px 14px;
    background: var(--white-60, #FFFFFF99);
    border: 1px solid var(--Grey-5, #CCCADA)
}

.gap-10 {
    gap: 10px;
}

.max-w-650 {
    max-width: 650px;
}

.step-btn {
    width: 81px;
    height: 40px;
    border-radius: 34px;
    background: var(--color-white);
    border: 1px solid var(--color-white);
}

.opacity-70 {
    opacity: 70%;
}

.max-w-234 {
    max-width: 234px;
}

.slider-box {
    max-width: 276px;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(243, 241, 255, 0.8) 0%, rgba(246, 249, 255, 0.8) 100%);
    padding: 24px 15px 50px 15px;
    position: relative;
}


.slider-box:hover {
    background: #FCFCFE;
}

.slider-box:hover .step-btn {
    background-color: var(--bg-grey-dark);
    color: white;
}

.slider-box:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px;
    background: linear-gradient(0deg, #FFFFFF 0%, #E2E0FD 100%);
    mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
}

.slick-track {
    display: flex !important;
    gap: 16px;
}

.letter-spacing-2 {
    letter-spacing: -2px;
}

.circle-img {
    top: 9px;
    right: -26px;
}

.max-w-515 {
    max-width: 515px;
}

.free-btn {
    border-radius: 50px;
    padding: 16px 24px 16px 24px;
    background: var(--color-dark);
}

.layer {
    top: 20%;
    z-index: -5;
}

.mb-288 {
    margin-bottom: 288px;
}

.max-w-432 {
    max-width: 432px;
}

/* footer */
.color-white-50 {
    color: #FFFFFF80;
}

.letter-spacing {
    letter-spacing: -1%;
}

.email-input {
    max-width: 361px;
    width: 100%;
    height: 58px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 16px;
    border: 1px solid var(--White, #FFFFFF);


    background: var(--white-50, #FFFFFF80);
}

.subscribe-btn {
    padding: 16px 24px 16px 24px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid var(--White, #FFFFFF)
}

.line {
    border: 1px solid var(--white-10, #FFFFFF1A);
}


.border-right {
    border-right: 1px solid white;
}


@media (max-width:991.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: rgb(72, 72, 164) !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5 !important;
        background-color: blue;
        color: white !important;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }
}